#main-play-area{
    background-image: url('images/BackGround.png');
    width: 1500px;
    height: 760px;
}

#player-controlled-shooter{
    width: 140px;
    height: 80px;
    position: relative;
    left: 20px;
    top: 373px;
    background-color:white;
}